<div class = "container" >
	<footer class = "footer">
		<small>
			Copyright &copy; <a href= "https://www.houndeasy.com/">Check the other website here</a> by <a href = "https://www.linkedin.com/in/darian-hartanto-64b397102/"> Team HOUND </a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", welcome_about_path %></li>
			</ul>
		</nav>
	</footer>
</div>